html {
    font-size: 10px;
    font-family: 'Montserrat';
}

body {
    margin: 0;
    color: #4a4a4a;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #c95959;
    height: 6rem;
    width: 100%;
    position: sticky;
    z-index: 1;
    color: whitesmoke;
    font-size: 1.4rem;
    font-weight: 400;
}

#logoTop {
    width: 9rem;
    height: 6rem;
    margin-left: 7rem;
}

#busTicket {
    padding: 1.7rem 0;
    margin: 0 1.7rem;
    border-bottom: solid 3px whitesmoke;
}

#textNew {
    font-size: 1rem;
    font-weight: 700;
    margin: 0 1.7rem 1.7rem 0.5rem;
}

.navbarLeft,
.navbarRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbarRight {
    margin: 0 7rem 0 0;
}

#help,
#manageBooking {
    font-size: 1.2rem;
}

#manageBooking {
    margin: 0 0.9rem 0 1.7rem;
}

#login {
    float: right;
    margin: 1rem;
    width: 3.6rem;
    height: 3.6rem;
}

.arrow {
    width: 1.7rem;
    height: 1.7rem;
    float: right;
}

.mainHeading,
.boName {
    font-weight: 550;
    text-align: center;
}

.mainHeading {
    margin: 2.6rem 0 1.16rem;
    font-size: 3.3rem;
}

.boName {
    margin: 0 0 3rem;
    color: #c95959;
    font-size: 1.7rem;
}

hr {
    border-width: 0;
    height: 2px;
    color: #e6e6e6;
    background-color: #e6e6e6;
}


.content {
    margin: 2rem 0 2.4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.ratingText {
    margin: -2rem 0 1.2rem 0;
}

.starRating {
    margin-bottom: 1.3rem;
}

.rating {
    width: 54rem;
    height: 28.2rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.star {
    width: 6rem;
    height: 6rem;
    margin-right: 0.95rem;
}

#startRate {
    margin-right: 18.9rem;
}

.tripSummary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.6rem;
    width: 41rem;
    height: 22.8rem;
    background-color: #f8f4f4;
    border-radius: 0.8rem;
}

.tripSummary h1 {
    font-size: 1.7rem;
    color: #c9585b;
    margin: 0;
    font-weight: 400;
}

#ticketID {
    margin: 0;
    color: #4a4a4a;
    font-weight: 600;
    font-size: 1.5rem;
}

.tripSummaryFaded {
    margin: 0;
    font-size: 1.4rem;
    color: #818995;
    font-weight: 400;
}

.tripSummaryBold {
    margin: 0;
    color: #4a4a4a;
    font-weight: 600;
    font-size: 1.7rem;
}

.busStop,
.dateTime {
    padding: 0 0 1.4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #c4c4c4;
}

.tripSummaryMedium {
    font-size: 1.7rem;
    margin: 0;
}

.destination {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.formContent {
    display: flex;
    flex-direction: column;
    padding: 0 15rem 0;
}

.tellMoreHeading,
.betterHeading {
    font-size: 2rem;
    font-weight: 600;
    margin: 0 0 2.7rem;
}




ul.betterTags {
    list-style: none;
    display: inline-block;
    margin: -1rem 0 2.7rem -1rem;
    height: 14rem;
    width: 120rem;
    padding: 0;
}



ul.betterTags li {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1rem;
}

ul.betterTags li label {
    font-size: 1.7rem;
    display: inline-flex;
    align-items: center;
    background-color: rgba(255, 255, 255, .9);
    border: 1px solid #c9585b;
    color: #c9585b;
    border-radius: 4rem;
    white-space: nowrap;
    margin: 0 0px;
    transition: all .2s;
    padding: 1.5rem 2.8rem;
    cursor: pointer;
}

#dislikeimg {
    width: 1.9rem;
    height: 1.9rem;
    display: inline;
    margin: 0 0 0 0.7rem;
}


ul.betterTags li input[type="checkbox"]:checked+label {
    border: 1px solid lightcoral;
    background-color: #c9585b;
    color: #fff;
    transition: all .2s;
}

ul.betterTags li input[type="checkbox"] {
    display: absolute;
    position: absolute;
    opacity: 0;
}




.tellMoreText {
    height: 17rem;
    width: 99.5rem;
    margin: 0 0 5.5rem;
    outline: none;
    font-family: 'Montserrat';
    font-size: 1.6rem;
}

#submitButton {
    margin: 0 0 5.5rem 29rem;
    font-family: 'Montserrat';
    width: 40.5rem;
    height: 6rem;
    color: ivory;
    border-radius: 3px;
    border: solid 1px #c95959;
    background-color: #c95959;
    font-weight: 600;
    font-size: 1.8rem;
}

#toast {
    visibility: hidden;
    min-width: 25rem;
    background-color: rgba(32, 32, 32, 0.637);
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 1.6rem;
    position: fixed;
    left: 52rem;
    z-index: 1;
    bottom: 3rem;
    font-size: 1.7rem;
}

#toast.show {
    visibility: visible;
}

footer {
    position: bottom;
    bottom: 0;
    height: 30rem;
    background-color: #1b2330;
    color: #b1babf;
    width: 100%;
    font-size: 1.4rem;
}

.rightFooterContent {
    float: right;
    width: 33.5rem;
    line-height: 2.7rem;
    margin: 0 4.8rem 1.5rem 0;
}

.rightFooterContent>img {
    margin: 3rem 0 0 -1rem;
}

.twittericon {
    margin-left: 8px;
}

.fbicon,
.twittericon {
    border: none;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-Facebook {
    background-image: url(images/socialMediaIcons.png);
    background-position: 0 -120px;
    width: 4.7rem;
    height: 4.7rem;
}

.icon-Twitter {
    background-image: url(images/socialMediaIcons.png);
    background-position: 0 -167px;
    width: 4.7rem;
    height: 4.7rem;
}




/* media queries*/

@media only screen and (max-width:1350px) {
    html {
        font-size: 9.5px;
    }

    ul.betterTags {
        width: 110rem;
    }

    .tellMoreText {
        width: 95rem;
    }

    .formContent {
        padding: 0 14rem 0;
    }

    .better {
        margin-bottom: 5rem;
    }
}

@media only screen and (max-width:1250px) {
    html {
        font-size: 9.3px;
    }

    ul.betterTags {
        width: 109rem;
    }

    .formContent {
        padding: 0 12rem 0;
    }

    #submitButton {
        margin: 0 0 5.5rem 25rem;
    }

    .rating {
        width: 53rem;
    }

    .tripSummary {
        width: 40rem;
    }
}

@media only screen and (max-width:1050px) {
    html {
        font-size: 9px;
    }

    ul.betterTags {
        width: 100rem;
    }

    .tellMoreText {
        width: 80rem;
    }

}

@media only screen and (max-width:1000px) {
    html {
        font-size: 8.5px;
    }

    .formContent {
        padding: 0 12rem 0;
    }

    .rating {
        width: 51rem;
    }
}

@media only screen and (max-width:950px) {
    html {
        font-size: 8px;
    }

    .tripSummary {
        width: 39rem;
    }
}

@media only screen and (max-width:900px) {
    html {
        font-size: 7.5px;
    }

    .rating {
        width: 50rem;
    }
}

@media only screen and (max-width:800px) {
    html {
        font-size: 7px;
    }

    .formContent {
        padding: 0 11rem 0;
    }

}

@media only screen and (max-width:700px) {
    html {
        font-size: 6px;
    }

}

@media only screen and (max-width:600px) {
    html {
        font-size: 5px;
    }

    .rating {
        width: 47rem;
    }

    .tripSummary {
        width: 37rem;
    }

}



@media only screen and (max-width:550px) {
    html {
        font-size: 5px;
    }

    .content {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .rating {
        width: 56rem;
    }

    .tripSummary {
        width: 56rem;
    }

    .formContent {
        padding: 0 7rem 0;
        align-items: center;
        justify-content: center;
    }

    #submitButton {
        margin: 0 0 5.5rem 5rem;
    }

    ul.betterTags {
        width: 79rem;
        margin: 0rem 0 2.7rem 0rem;
    }

}

@media only screen and (max-width:520px) {
    html {
        font-size: 4.3px;
    }

    .rating {
        width: 57rem;
    }

    .tripSummary {
        width: 57rem;
    }

    ul.betterTags {
        width: 70rem;
    }

    .tellMoreText {
        width: 65rem;
    }

    .formContent {
        padding: 0 9rem 0;
        align-items: center;
    }

    #submitButton {
        margin: 0 0 5.5rem 2rem;
    }

}

@media only screen and (max-width:500) {
    html {
        font-size: 4px;
    }

    .formContent {
        padding: 0 7rem 0;
    }

    ul.betterTags {
        width: 60rem;
    }
}

@media only screen and (max-width:350) {
    html {
        font-size: 3.5px;
    }

    ul.betterTags {
        width: 60rem;
    }

    .better {
        width: 50rem;
    }
}

@media only screen and (max-width:300) {
    html {
        font-size: 3px;
    }

    ul.betterTags{
        flex-direction: column;
    }
}

